@page
@model IndexModel
@{
}

<div class="bg-image"></div>

<div class="bg-text">
        <form method="post">
            <div class="row justify-content-center" id="search-conditions">
                <div class="col">
                    <label asp-for="@Model.ArrivalDate"><b>Arrival Date</b></label>
                    <input class="form-control" type="date" asp-for="@Model.ArrivalDate" />
                </div>

                <div class="col">
                    <label asp-for="@Model.DepartureDate"><b>Departure Date</b></label>
                    <input class="form-control" type="date" asp-for="@Model.DepartureDate" />
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.location"><b>Location</b></label>
                        <select class="form-control" id="locations" asp-for="@Model.location">
                            <option>--Select--</option>
                            <option>Kathmandu</option> value= />
                            <option>Pokhara</option>
                            <option>Bharatpur</option>
                            <option>Lumbini</option>
                            <option>Dhunibeshi</option>
                            <option>Village of Langtang</option>
                            <option>Jomsom</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm" id="search-button">Search</button>
             </div>
        </form>
    </div>

</div>










